<section style="padding-top: 120px;" id="scroll-element" data-scroll-index="0">
    <div class="hero">
        <div class="hero-left">
            <img src="{{ .Site.BaseURL }}img/{{ .Site.Params.Hero.Avatar }}" style="max-width: 200px; border-radius: 50%; ">
            <h2 class="subtitle">{{ .Site.Params.Hero.subtitle }}</h2>
            <div class="icons">
                <a href="https://github.com/momoto" class="fab fa-github"></a>
                <a href="https://twitter.com/MomotoSeiji" class="fab fa-twitter-square"></a>
                <a href="https://www.facebook.com/seiji.momoto" class="fab fa-facebook"></a>    
                <a href="https://www.linkedin.com/in/seijimomoto/" class="fab fa-linkedin"></a>
                <!--a href="https://www.transifex.com/user/profile/momoto/"></a-->
                <!--a href="https://launchpad.net/~seiji-momoto"></a-->
                <!--a href="https://stackexchange.com/users/1555992/seiji-momoto></a-->
                <!--a href="https://stackoverflow.com/users/1447074/seiji-momoto"></a-->
                <!--a href="https://askubuntu.com/users/69651/seiji-momoto"></a-->
                <!--a href="https://community.dynamics.com/members/seiji-momoto"></a-->
                <!--a href="https://www.youracclaim.com/user/seiji-momoto"></a-->
                <!--a href="https://metacpan.org/author/SMOMOT"></a-->
                <!--a href="https://www.meetup.com/members/245996840/"></a-->
                <!--a href="https://bitbucket.org/momoto/"></a-->
                <!--a href="https://coderwall.com/momoto"></a-->
                <!--a href="https://www.slideshare.net/seijimomoto"></a-->
            </div>
            {{ if false }}
            <a href="{{ .Site.BaseURL }}{{ .Site.Params.Hero.Resume }}" target="blank" class="download-resume" onclick="ga('send', {hitType: 'event',eventCategory: 'CTA',eventAction: 'download'});">
                <img style="position: relative;top: 1.8px;padding-right: 6px;" src="svg/dl-resume.svg">
                Download Resume</a>
            {{ end }}
        </div>
        <div class="hero-right">
            {{ range $paragraph := .Site.Params.Hero.hero_right }}
                <p>{{ $paragraph | markdownify }}</p>
            {{ end }}
        </div>
    </div>
</section>