<section style="padding-top: 120px;" id="scroll-element" data-scroll-index="0">
    <div class="hero">
        <div class="hero-left">
            <img src="{{ .Site.BaseURL }}img/{{ .Site.Params.Hero.Avatar }}" style="max-width: 200px; border-radius: 50%; ">
            <h2 class="subtitle">{{ .Site.Params.Hero.subtitle }}</h2>
            <div class="icons">
                <a href="https://github.com/momoto" class="fab fa-github"></a>
                <a href="https://twitter.com/MomotoSeiji" class="fab fa-twitter-square"></a>
                <a href="https://www.facebook.com/seiji.momoto" class="fab fa-facebook"></a>    
                <a href="https://www.linkedin.com/in/seijimomoto/" class="fab fa-linkedin"></a>
            </div>
        </div>
        <div class="hero-right">
            <p><strong>{{ .Site.Params.Description }}</strong></p>
            <p>I started my career in the open source software field (OSS; specifically Linux Apache MySQL PHP etc). What I focus on in my whole career are to work well with the enterprise systems (e.g. SAP ERP, Microsoft Dynamics family) to grow a business fast by transforming the digital platforms. For the reason to achieve this, I believe I will keep following the technology field such as cloud computing and data science.</p>
            <p>
                I am trying to stay active in user communities:
                <a href="https://qiita.com/momoto">Qiita</a>,
                <a href="https://community.dynamics.com/members/seiji-momoto">Dynamics 365 Community</a>,
                <a href="https://social.technet.microsoft.com/profile/Seiji+Momoto/">TechNet</a> and
                <a href="https://social.msdn.microsoft.com/profile/Seiji+Momoto/">MSDN</a>.
                * My opinions expressed in any user community and social network are mine and do not represent the views of affiliated organizations.
            </p>
            <p>SAP Certified Development Associate / Oracle Certified Associate / I ♥ Open Source.</p>
        </div>
    </div>
</section>