<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>{{ partial "head.html" . }}</head>
<body>
<div>
<section style="padding-top: 120px;" id="scroll-element" data-scroll-index="0">
<div class="hero">
    <div class="hero-left">
        <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="seijimomoto" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://jp.linkedin.com/in/seijimomoto/en?trk=profile-badge">Seiji Momoto</a></div>
    </div>
    <div class="hero-right">
        <p><strong>{{ .Site.Params.Description }}</strong></p>
        <p>I focus to maximize business value by leveraging technologies for my whole career.</p>
        <p>
            <a href="https://github.com/momoto">GitHub</a> / 
            <a href="https://twitter.com/MomotoSeiji">Twitter</a> / 
            <a href="https://www.linkedin.com/in/seijimomoto/">Linkedin</a> / 
            <a href="https://qiita.com/momoto">Qiita</a> / 
            <a href="https://community.dynamics.com/profile/?userid=e3ae1126-4d02-ea11-a811-000d3a4f1ebb">Dynamics 365 Community</a> / 
            <a href="https://www.credly.com/users/seiji-momoto/badges">Credly</a>.
        </p>
        <p>* my opinions expressed in social network are mine and do not represent the views of affiliated organizations.</p>
    </div>
</div>
</section>
</div>
<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
{{ template "_internal/google_analytics.html" . }}
</body>
</html>